html,
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

main{
	background-color: yellow;
}

img{
	width: 100%;
	height: auto;
	display: block; /* removes white space under img (change to inline if necessary) */
}

a{
	text-decoration: none;
	cursor: pointer;
	color: hotpink;
}

nav ul{
	display: flex;
	justify-content: flex-start;
}

li{
	list-style: none;
	font-size: 10vw;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	padding: 0.5vw 0;
}
