html,
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

main{
	background-color: yellow;
}

img{
	width: 100%;
	height: auto;
	display: block; /* removes white space under img (change to inline if necessary) */
}

nav ul{
	display: flex;
	justify-content: flex-start;
}

li{
	color: hotpink;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
	font-size: 8vw;
	font-weight: bold;
	line-height: 10vw;
	list-style: none;
}
